body {
    background: url("../images/banner2.jpg") no-repeat center center fixed !important;
    background-size: cover !important;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .login-container {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    width: 500px;
    text-align: center;
    margin-top: 80px;
    margin-left: 200px;
  }
  
  .login-container h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0; /* espacement */
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-container button {
    width: 100%;
    padding: 10px;
    background-color: #971c1c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-container button:hover {
    background-color: #b30000;
  }
  
  .login-container p {
    margin-top: 15px;
    font-size: 0.9em;
  }
  
  .login-container a {
    color: #e31818;
    text-decoration: none;
  }
  
  .login-container a:hover {
    text-decoration: underline;
  }
  